{% extends "base.html" %}
{% block content %}


<div class="col-md-6 offset-md-3">
{% if user.is_authenticated %}
<h1>Django CRM {{user.username}}<h1>
    {% else %}
<h1>Login </h1>
<br>
<hr>
<form action="{% url 'home' %}" method="POST">
    {% csrf_token %}
   
        <div class="mb-3">
          
          <input type="text" class="form-control" name="UserName" placeholder="User Name" required>
          <div  class="form-text">We'll never share your Password with anyone else.</div>
        </div>
        <div class="mb-3">
            
          <input type="text" class="form-control" name="PASS" placeholder="Password" required>
        </div>
        <br>
        <hr>
        <button type="submit" class="btn btn-success">Login</button>
      
</form>


{% endif %}    
</div>
{% endblock content %}

