{% extends "base.html" %}
{% block content %}


<div class="col-md-12">
{% if user.is_authenticated %}
              <h3>Welcom {{user.username}}<h3>
                <hr>
                <h4>Records</h4>
              {% if Records %}
              <table class="table table-hover table-bordered table-sm text-center ">
                <thead class="table-dark">
                  <tr>
                    <th scope="col">Sr.No</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                    <th scope="col">City</th>
                    <th scope="col">State</th>
                    <th scope="col">ZipCode</th>
                    <th scope="col">Created</th>
                    <th scope="col">ID</th>
                  </tr>
                </thead>
                <tbody class="">
                {% for record in Records  %}
                  <tr>

                    <th scope="row">{{forloop.counter}}</th>
                    <td><a href="{% url 'record' record.id %}">{{record.first_name}}</a></td>
                    <td>{{record.last_name}} </td>
                    <td>{{record.phone}} </td>
                    <td>{{record.address}} </td>
                    <td>{{record.city}} </td>
                    <td>{{record.state}}</td>
                    <td>{{record.zipcode}}</td>
                    <td>{{record.created_at}} </td>
                    <td><a href="{% url 'record' record.id %}">{{record.id}}</a> </td> 

                  </tr>
                {% endfor %}  
                </tbody>
              </table>
              {% else %}
              <h1 class="text-danger">No Rcords</h1>
              {% endif %}
{% else %}
    <div class="col-md-6 offset-md-3">
    <h1>Login </h1>
    <br>
    <hr>
    <form action="{% url 'home' %}" method="POST">
        {% csrf_token %}
      
            <div class="mb-3">
              
              <input type="text" class="form-control" name="UserName" placeholder="User Name" required>
              <div  class="form-text">We'll never share your Password with anyone else.</div>
            </div>
            <div class="mb-3">
                
              <input type="text" class="form-control" name="PASS" placeholder="Password" required>
            </div>
            <br>
            <hr>
            <button type="submit" class="btn btn-success">Login</button>
          
    </form>


{% endif %}    
      </div>
    </div>      
{% endblock content %}

